name: Python libraries

on:
  push:

jobs:
  davidkhala-azure:
    environment: davidkhala
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['3.10', latest]
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest --ignore=storage
          tests: py/tests
          version: ${{matrix.version}}
        env:
          CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
          CLIENT_ID: ${{vars.CLIENT_ID}}
          TENANT_ID: ${{vars.TENANT_ID}}
          BING: ${{vars.BING}}
  storage:
    environment: davidkhala
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ '3.10', latest ]
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          working-directory: py
          test-entry-point: pytest
          tests: py/tests/storage
          version: ${{matrix.version}}
        env:
          CLIENT_SECRET: ${{secrets.CLIENT_SECRET}}
          CLIENT_ID: ${{vars.CLIENT_ID}}
          TENANT_ID: ${{vars.TENANT_ID}}
          key1: ${{secrets.KEY1}}